<header class="o-mainHeader">

    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="o-mainHeader_content">

            <!-- Logo -->
            <a class="c-link logo-header" href="index.html">
              <img class="c-img" src="../media/brand/ad-logo.jpg" alt="logo">
            </a>

            <!-- Menu START -->
            <div class="o-mainHeader_nav">

              <!-- Main Navigation START -->
              {% include "src/html/app/components/mainNavigation.html" %}
              <!-- Main Navigation STOP -->

              <div class="o-mainHeader-btn_wrapper">
                <a class="c-btn c-btn-secondary" href="demo.html">Request demo</a>
              </div>

            </div>
            <!-- Menu STOP -->

          </div>

        </div>
      </div>
    </div>

</header>
