/*------------------------------------------------------------------------------------
  01_settings
------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../font/Proxima-Nova-Light.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Light.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Light.woff") format("woff"), url("../font/Proxima-Nova-Light.ttf") format("truetype"), url("../font/Proxima-Nova-Light.svg#da6ddaf3cf69afbba47bd74b5010b98d") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'ProximaNova-LightIt';
  src: url("../font/Proxima-Nova-Light-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Light-Italic.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Light-Italic.woff") format("woff"), url("../font/Proxima-Nova-Light-Italic.ttf") format("truetype"), url("../font/Proxima-Nova-Light-Italic.svg#1a04ccc617b24808e8115891ca97cce8") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 200; }

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../font/Proxima-Nova-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Regular.woff") format("woff"), url("../font/Proxima-Nova-Regular.ttf") format("truetype"), url("../font/Proxima-Nova-Regular.svg#2c1459d58560f08b4b0586fbe80aa4cd") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url("../font/Proxima-Nova-Regular-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Regular-Italic.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Regular-Italic.woff") format("woff"), url("../font/Proxima-Nova-Regular-Italic.ttf") format("truetype"), url("../font/Proxima-Nova-Regular-Italic.svg#77f1c682604b6b0472d490a8e6c22d18") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../font/Proxima-Nova-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Semibold.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Semibold.woff") format("woff"), url("../font/Proxima-Nova-Semibold.ttf") format("truetype"), url("../font/Proxima-Nova-Semibold.svg#67a6c9f6d7dc8f35ecb08de766ea56f0") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'ProximaNova-SemiboldIt';
  src: url("../font/Proxima-Nova-Semibold-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Semibold-Italic.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Semibold-Italic.woff") format("woff"), url("../font/Proxima-Nova-Semibold-Italic.ttf") format("truetype"), url("../font/Proxima-Nova-Semibold-Italic.svg#507561f3ade737ab57270dba6021e34c") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../font/Proxima-Nova-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Bold.woff") format("woff"), url("../font/Proxima-Nova-Bold.ttf") format("truetype"), url("../font/Proxima-Nova-Bold.svg#d1e00a8fb1fd9b428ab6b90409479fde") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'ProximaNova-BoldIt';
  src: url("../font/Proxima-Nova-Bold-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Bold-Italic.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Bold-Italic.woff") format("woff"), url("../font/Proxima-Nova-Bold-Italic.ttf") format("truetype"), url("../font/Proxima-Nova-Bold-Italic.svg#79a8a351bd63dc8113108df914d9fe32") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url("../font/Proxima-Nova-Extrabold.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Extrabold.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Extrabold.woff") format("woff"), url("../font/Proxima-Nova-Extrabold.ttf") format("truetype"), url("../font/Proxima-Nova-Extrabold.svg#131ef5652291f8dc4bd914210809df02") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'ProximaNova-ExtrabldIt';
  src: url("../font/Proxima-Nova-Extrabold-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Extrabold-Italic.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Extrabold-Italic.woff") format("woff"), url("../font/Proxima-Nova-Extrabold-Italic.ttf") format("truetype"), url("../font/Proxima-Nova-Extrabold-Italic.svg#67dcac7bd45382a60d50a92d2067bcdd") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 700; }

/*------------------------------------------------------------------------------------
  BREAKPOINTS
------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------
  CONTAINER
------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------
  GRID, GUTTER
------------------------------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none; }

html, body {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 100%;
  line-height: 1.2;
  letter-spacing: normal;
  color: #5D6261; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0; }
  ul > li {
    font-size: 1rem; }

hr {
  border-color: #E3E3E3;
  opacity: .3; }

/*------------------------------------------------------------------------------------
  00_vendor
------------------------------------------------------------------------------------*/
/*!
 * Bootstrap Grid v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@-ms-viewport {
  width: device-width; }

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 1025px) {
    .container {
      max-width: 1055px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-mdp-1, .col-mdp-2, .col-mdp-3, .col-mdp-4, .col-mdp-5, .col-mdp-6, .col-mdp-7, .col-mdp-8, .col-mdp-9, .col-mdp-10, .col-mdp-11, .col-mdp-12, .col-mdp,
.col-mdp-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 13; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 468px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    order: -1; }
  .order-sm-last {
    order: 13; }
  .order-sm-0 {
    order: 0; }
  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
  .order-sm-3 {
    order: 3; }
  .order-sm-4 {
    order: 4; }
  .order-sm-5 {
    order: 5; }
  .order-sm-6 {
    order: 6; }
  .order-sm-7 {
    order: 7; }
  .order-sm-8 {
    order: 8; }
  .order-sm-9 {
    order: 9; }
  .order-sm-10 {
    order: 10; }
  .order-sm-11 {
    order: 11; }
  .order-sm-12 {
    order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 600px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    order: -1; }
  .order-md-last {
    order: 13; }
  .order-md-0 {
    order: 0; }
  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; }
  .order-md-3 {
    order: 3; }
  .order-md-4 {
    order: 4; }
  .order-md-5 {
    order: 5; }
  .order-md-6 {
    order: 6; }
  .order-md-7 {
    order: 7; }
  .order-md-8 {
    order: 8; }
  .order-md-9 {
    order: 9; }
  .order-md-10 {
    order: 10; }
  .order-md-11 {
    order: 11; }
  .order-md-12 {
    order: 12; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 800px) {
  .col-mdp {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-mdp-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-mdp-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-mdp-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-mdp-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-mdp-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-mdp-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-mdp-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-mdp-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-mdp-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-mdp-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-mdp-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-mdp-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-mdp-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-mdp-first {
    order: -1; }
  .order-mdp-last {
    order: 13; }
  .order-mdp-0 {
    order: 0; }
  .order-mdp-1 {
    order: 1; }
  .order-mdp-2 {
    order: 2; }
  .order-mdp-3 {
    order: 3; }
  .order-mdp-4 {
    order: 4; }
  .order-mdp-5 {
    order: 5; }
  .order-mdp-6 {
    order: 6; }
  .order-mdp-7 {
    order: 7; }
  .order-mdp-8 {
    order: 8; }
  .order-mdp-9 {
    order: 9; }
  .order-mdp-10 {
    order: 10; }
  .order-mdp-11 {
    order: 11; }
  .order-mdp-12 {
    order: 12; }
  .offset-mdp-0 {
    margin-left: 0; }
  .offset-mdp-1 {
    margin-left: 8.33333%; }
  .offset-mdp-2 {
    margin-left: 16.66667%; }
  .offset-mdp-3 {
    margin-left: 25%; }
  .offset-mdp-4 {
    margin-left: 33.33333%; }
  .offset-mdp-5 {
    margin-left: 41.66667%; }
  .offset-mdp-6 {
    margin-left: 50%; }
  .offset-mdp-7 {
    margin-left: 58.33333%; }
  .offset-mdp-8 {
    margin-left: 66.66667%; }
  .offset-mdp-9 {
    margin-left: 75%; }
  .offset-mdp-10 {
    margin-left: 83.33333%; }
  .offset-mdp-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1025px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    order: -1; }
  .order-lg-last {
    order: 13; }
  .order-lg-0 {
    order: 0; }
  .order-lg-1 {
    order: 1; }
  .order-lg-2 {
    order: 2; }
  .order-lg-3 {
    order: 3; }
  .order-lg-4 {
    order: 4; }
  .order-lg-5 {
    order: 5; }
  .order-lg-6 {
    order: 6; }
  .order-lg-7 {
    order: 7; }
  .order-lg-8 {
    order: 8; }
  .order-lg-9 {
    order: 9; }
  .order-lg-10 {
    order: 10; }
  .order-lg-11 {
    order: 11; }
  .order-lg-12 {
    order: 12; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1100px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    order: -1; }
  .order-xl-last {
    order: 13; }
  .order-xl-0 {
    order: 0; }
  .order-xl-1 {
    order: 1; }
  .order-xl-2 {
    order: 2; }
  .order-xl-3 {
    order: 3; }
  .order-xl-4 {
    order: 4; }
  .order-xl-5 {
    order: 5; }
  .order-xl-6 {
    order: 6; }
  .order-xl-7 {
    order: 7; }
  .order-xl-8 {
    order: 8; }
  .order-xl-9 {
    order: 9; }
  .order-xl-10 {
    order: 10; }
  .order-xl-11 {
    order: 11; }
  .order-xl-12 {
    order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

.d-none {
  display: none !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-table {
  display: table !important; }

.d-table-row {
  display: table-row !important; }

.d-table-cell {
  display: table-cell !important; }

.d-flex {
  display: flex !important; }

.d-inline-flex {
  display: inline-flex !important; }

@media (min-width: 468px) {
  .d-sm-none {
    display: none !important; }
  .d-sm-inline {
    display: inline !important; }
  .d-sm-inline-block {
    display: inline-block !important; }
  .d-sm-block {
    display: block !important; }
  .d-sm-table {
    display: table !important; }
  .d-sm-table-row {
    display: table-row !important; }
  .d-sm-table-cell {
    display: table-cell !important; }
  .d-sm-flex {
    display: flex !important; }
  .d-sm-inline-flex {
    display: inline-flex !important; } }

@media (min-width: 600px) {
  .d-md-none {
    display: none !important; }
  .d-md-inline {
    display: inline !important; }
  .d-md-inline-block {
    display: inline-block !important; }
  .d-md-block {
    display: block !important; }
  .d-md-table {
    display: table !important; }
  .d-md-table-row {
    display: table-row !important; }
  .d-md-table-cell {
    display: table-cell !important; }
  .d-md-flex {
    display: flex !important; }
  .d-md-inline-flex {
    display: inline-flex !important; } }

@media (min-width: 800px) {
  .d-mdp-none {
    display: none !important; }
  .d-mdp-inline {
    display: inline !important; }
  .d-mdp-inline-block {
    display: inline-block !important; }
  .d-mdp-block {
    display: block !important; }
  .d-mdp-table {
    display: table !important; }
  .d-mdp-table-row {
    display: table-row !important; }
  .d-mdp-table-cell {
    display: table-cell !important; }
  .d-mdp-flex {
    display: flex !important; }
  .d-mdp-inline-flex {
    display: inline-flex !important; } }

@media (min-width: 1025px) {
  .d-lg-none {
    display: none !important; }
  .d-lg-inline {
    display: inline !important; }
  .d-lg-inline-block {
    display: inline-block !important; }
  .d-lg-block {
    display: block !important; }
  .d-lg-table {
    display: table !important; }
  .d-lg-table-row {
    display: table-row !important; }
  .d-lg-table-cell {
    display: table-cell !important; }
  .d-lg-flex {
    display: flex !important; }
  .d-lg-inline-flex {
    display: inline-flex !important; } }

@media (min-width: 1100px) {
  .d-xl-none {
    display: none !important; }
  .d-xl-inline {
    display: inline !important; }
  .d-xl-inline-block {
    display: inline-block !important; }
  .d-xl-block {
    display: block !important; }
  .d-xl-table {
    display: table !important; }
  .d-xl-table-row {
    display: table-row !important; }
  .d-xl-table-cell {
    display: table-cell !important; }
  .d-xl-flex {
    display: flex !important; }
  .d-xl-inline-flex {
    display: inline-flex !important; } }

@media print {
  .d-print-none {
    display: none !important; }
  .d-print-inline {
    display: inline !important; }
  .d-print-inline-block {
    display: inline-block !important; }
  .d-print-block {
    display: block !important; }
  .d-print-table {
    display: table !important; }
  .d-print-table-row {
    display: table-row !important; }
  .d-print-table-cell {
    display: table-cell !important; }
  .d-print-flex {
    display: flex !important; }
  .d-print-inline-flex {
    display: inline-flex !important; } }

.flex-row {
  flex-direction: row !important; }

.flex-column {
  flex-direction: column !important; }

.flex-row-reverse {
  flex-direction: row-reverse !important; }

.flex-column-reverse {
  flex-direction: column-reverse !important; }

.flex-wrap {
  flex-wrap: wrap !important; }

.flex-nowrap {
  flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important; }

.flex-fill {
  flex: 1 1 auto !important; }

.flex-grow-0 {
  flex-grow: 0 !important; }

.flex-grow-1 {
  flex-grow: 1 !important; }

.flex-shrink-0 {
  flex-shrink: 0 !important; }

.flex-shrink-1 {
  flex-shrink: 1 !important; }

.justify-content-start {
  justify-content: flex-start !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-between {
  justify-content: space-between !important; }

.justify-content-around {
  justify-content: space-around !important; }

.align-items-start {
  align-items: flex-start !important; }

.align-items-end {
  align-items: flex-end !important; }

.align-items-center {
  align-items: center !important; }

.align-items-baseline {
  align-items: baseline !important; }

.align-items-stretch {
  align-items: stretch !important; }

.align-content-start {
  align-content: flex-start !important; }

.align-content-end {
  align-content: flex-end !important; }

.align-content-center {
  align-content: center !important; }

.align-content-between {
  align-content: space-between !important; }

.align-content-around {
  align-content: space-around !important; }

.align-content-stretch {
  align-content: stretch !important; }

.align-self-auto {
  align-self: auto !important; }

.align-self-start {
  align-self: flex-start !important; }

.align-self-end {
  align-self: flex-end !important; }

.align-self-center {
  align-self: center !important; }

.align-self-baseline {
  align-self: baseline !important; }

.align-self-stretch {
  align-self: stretch !important; }

@media (min-width: 468px) {
  .flex-sm-row {
    flex-direction: row !important; }
  .flex-sm-column {
    flex-direction: column !important; }
  .flex-sm-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-sm-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-sm-wrap {
    flex-wrap: wrap !important; }
  .flex-sm-nowrap {
    flex-wrap: nowrap !important; }
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-sm-fill {
    flex: 1 1 auto !important; }
  .flex-sm-grow-0 {
    flex-grow: 0 !important; }
  .flex-sm-grow-1 {
    flex-grow: 1 !important; }
  .flex-sm-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-sm-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-sm-start {
    justify-content: flex-start !important; }
  .justify-content-sm-end {
    justify-content: flex-end !important; }
  .justify-content-sm-center {
    justify-content: center !important; }
  .justify-content-sm-between {
    justify-content: space-between !important; }
  .justify-content-sm-around {
    justify-content: space-around !important; }
  .align-items-sm-start {
    align-items: flex-start !important; }
  .align-items-sm-end {
    align-items: flex-end !important; }
  .align-items-sm-center {
    align-items: center !important; }
  .align-items-sm-baseline {
    align-items: baseline !important; }
  .align-items-sm-stretch {
    align-items: stretch !important; }
  .align-content-sm-start {
    align-content: flex-start !important; }
  .align-content-sm-end {
    align-content: flex-end !important; }
  .align-content-sm-center {
    align-content: center !important; }
  .align-content-sm-between {
    align-content: space-between !important; }
  .align-content-sm-around {
    align-content: space-around !important; }
  .align-content-sm-stretch {
    align-content: stretch !important; }
  .align-self-sm-auto {
    align-self: auto !important; }
  .align-self-sm-start {
    align-self: flex-start !important; }
  .align-self-sm-end {
    align-self: flex-end !important; }
  .align-self-sm-center {
    align-self: center !important; }
  .align-self-sm-baseline {
    align-self: baseline !important; }
  .align-self-sm-stretch {
    align-self: stretch !important; } }

@media (min-width: 600px) {
  .flex-md-row {
    flex-direction: row !important; }
  .flex-md-column {
    flex-direction: column !important; }
  .flex-md-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-md-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-md-wrap {
    flex-wrap: wrap !important; }
  .flex-md-nowrap {
    flex-wrap: nowrap !important; }
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-md-fill {
    flex: 1 1 auto !important; }
  .flex-md-grow-0 {
    flex-grow: 0 !important; }
  .flex-md-grow-1 {
    flex-grow: 1 !important; }
  .flex-md-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-md-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-md-start {
    justify-content: flex-start !important; }
  .justify-content-md-end {
    justify-content: flex-end !important; }
  .justify-content-md-center {
    justify-content: center !important; }
  .justify-content-md-between {
    justify-content: space-between !important; }
  .justify-content-md-around {
    justify-content: space-around !important; }
  .align-items-md-start {
    align-items: flex-start !important; }
  .align-items-md-end {
    align-items: flex-end !important; }
  .align-items-md-center {
    align-items: center !important; }
  .align-items-md-baseline {
    align-items: baseline !important; }
  .align-items-md-stretch {
    align-items: stretch !important; }
  .align-content-md-start {
    align-content: flex-start !important; }
  .align-content-md-end {
    align-content: flex-end !important; }
  .align-content-md-center {
    align-content: center !important; }
  .align-content-md-between {
    align-content: space-between !important; }
  .align-content-md-around {
    align-content: space-around !important; }
  .align-content-md-stretch {
    align-content: stretch !important; }
  .align-self-md-auto {
    align-self: auto !important; }
  .align-self-md-start {
    align-self: flex-start !important; }
  .align-self-md-end {
    align-self: flex-end !important; }
  .align-self-md-center {
    align-self: center !important; }
  .align-self-md-baseline {
    align-self: baseline !important; }
  .align-self-md-stretch {
    align-self: stretch !important; } }

@media (min-width: 800px) {
  .flex-mdp-row {
    flex-direction: row !important; }
  .flex-mdp-column {
    flex-direction: column !important; }
  .flex-mdp-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-mdp-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-mdp-wrap {
    flex-wrap: wrap !important; }
  .flex-mdp-nowrap {
    flex-wrap: nowrap !important; }
  .flex-mdp-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-mdp-fill {
    flex: 1 1 auto !important; }
  .flex-mdp-grow-0 {
    flex-grow: 0 !important; }
  .flex-mdp-grow-1 {
    flex-grow: 1 !important; }
  .flex-mdp-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-mdp-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-mdp-start {
    justify-content: flex-start !important; }
  .justify-content-mdp-end {
    justify-content: flex-end !important; }
  .justify-content-mdp-center {
    justify-content: center !important; }
  .justify-content-mdp-between {
    justify-content: space-between !important; }
  .justify-content-mdp-around {
    justify-content: space-around !important; }
  .align-items-mdp-start {
    align-items: flex-start !important; }
  .align-items-mdp-end {
    align-items: flex-end !important; }
  .align-items-mdp-center {
    align-items: center !important; }
  .align-items-mdp-baseline {
    align-items: baseline !important; }
  .align-items-mdp-stretch {
    align-items: stretch !important; }
  .align-content-mdp-start {
    align-content: flex-start !important; }
  .align-content-mdp-end {
    align-content: flex-end !important; }
  .align-content-mdp-center {
    align-content: center !important; }
  .align-content-mdp-between {
    align-content: space-between !important; }
  .align-content-mdp-around {
    align-content: space-around !important; }
  .align-content-mdp-stretch {
    align-content: stretch !important; }
  .align-self-mdp-auto {
    align-self: auto !important; }
  .align-self-mdp-start {
    align-self: flex-start !important; }
  .align-self-mdp-end {
    align-self: flex-end !important; }
  .align-self-mdp-center {
    align-self: center !important; }
  .align-self-mdp-baseline {
    align-self: baseline !important; }
  .align-self-mdp-stretch {
    align-self: stretch !important; } }

@media (min-width: 1025px) {
  .flex-lg-row {
    flex-direction: row !important; }
  .flex-lg-column {
    flex-direction: column !important; }
  .flex-lg-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-lg-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-lg-wrap {
    flex-wrap: wrap !important; }
  .flex-lg-nowrap {
    flex-wrap: nowrap !important; }
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-lg-fill {
    flex: 1 1 auto !important; }
  .flex-lg-grow-0 {
    flex-grow: 0 !important; }
  .flex-lg-grow-1 {
    flex-grow: 1 !important; }
  .flex-lg-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-lg-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-lg-start {
    justify-content: flex-start !important; }
  .justify-content-lg-end {
    justify-content: flex-end !important; }
  .justify-content-lg-center {
    justify-content: center !important; }
  .justify-content-lg-between {
    justify-content: space-between !important; }
  .justify-content-lg-around {
    justify-content: space-around !important; }
  .align-items-lg-start {
    align-items: flex-start !important; }
  .align-items-lg-end {
    align-items: flex-end !important; }
  .align-items-lg-center {
    align-items: center !important; }
  .align-items-lg-baseline {
    align-items: baseline !important; }
  .align-items-lg-stretch {
    align-items: stretch !important; }
  .align-content-lg-start {
    align-content: flex-start !important; }
  .align-content-lg-end {
    align-content: flex-end !important; }
  .align-content-lg-center {
    align-content: center !important; }
  .align-content-lg-between {
    align-content: space-between !important; }
  .align-content-lg-around {
    align-content: space-around !important; }
  .align-content-lg-stretch {
    align-content: stretch !important; }
  .align-self-lg-auto {
    align-self: auto !important; }
  .align-self-lg-start {
    align-self: flex-start !important; }
  .align-self-lg-end {
    align-self: flex-end !important; }
  .align-self-lg-center {
    align-self: center !important; }
  .align-self-lg-baseline {
    align-self: baseline !important; }
  .align-self-lg-stretch {
    align-self: stretch !important; } }

@media (min-width: 1100px) {
  .flex-xl-row {
    flex-direction: row !important; }
  .flex-xl-column {
    flex-direction: column !important; }
  .flex-xl-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-xl-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-xl-wrap {
    flex-wrap: wrap !important; }
  .flex-xl-nowrap {
    flex-wrap: nowrap !important; }
  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-xl-fill {
    flex: 1 1 auto !important; }
  .flex-xl-grow-0 {
    flex-grow: 0 !important; }
  .flex-xl-grow-1 {
    flex-grow: 1 !important; }
  .flex-xl-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-xl-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-xl-start {
    justify-content: flex-start !important; }
  .justify-content-xl-end {
    justify-content: flex-end !important; }
  .justify-content-xl-center {
    justify-content: center !important; }
  .justify-content-xl-between {
    justify-content: space-between !important; }
  .justify-content-xl-around {
    justify-content: space-around !important; }
  .align-items-xl-start {
    align-items: flex-start !important; }
  .align-items-xl-end {
    align-items: flex-end !important; }
  .align-items-xl-center {
    align-items: center !important; }
  .align-items-xl-baseline {
    align-items: baseline !important; }
  .align-items-xl-stretch {
    align-items: stretch !important; }
  .align-content-xl-start {
    align-content: flex-start !important; }
  .align-content-xl-end {
    align-content: flex-end !important; }
  .align-content-xl-center {
    align-content: center !important; }
  .align-content-xl-between {
    align-content: space-between !important; }
  .align-content-xl-around {
    align-content: space-around !important; }
  .align-content-xl-stretch {
    align-content: stretch !important; }
  .align-self-xl-auto {
    align-self: auto !important; }
  .align-self-xl-start {
    align-self: flex-start !important; }
  .align-self-xl-end {
    align-self: flex-end !important; }
  .align-self-xl-center {
    align-self: center !important; }
  .align-self-xl-baseline {
    align-self: baseline !important; }
  .align-self-xl-stretch {
    align-self: stretch !important; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal; }

/*------------------------------------------------------------------------------------
  02_tools
------------------------------------------------------------------------------------*/
.o-share-list .c-link, .o-contact_overlay, .o-hero_overlay, .o-testimonial_btn {
  background-position: center; }

.c-btn-secondary, .o-share-list .c-link, .o-contact_overlay, .o-hero_overlay, .o-target-content-list_item, .o-testimonial_btn {
  background-repeat: no-repeat; }

.o-contact_overlay, .o-hero_overlay {
  background-size: cover; }

.o-share-list .c-link {
  background-size: contain; }

.o-testimonial_btn:hover, .o-testimonial_pagination .bullet:hover {
  cursor: pointer; }

.hidden {
  position: absolute;
  pointer-events: none;
  opacity: 0; }

.svg-desktop, .c-icon.desktop, .svg-link, .c-icon.link {
  background: url("../media/sprite/sprite.svg") no-repeat; }

.svg-desktop, .c-icon.desktop {
  background-position: 0 0; }

.svg-desktop-dims {
  width: 50px;
  height: 50px; }

.svg-link, .c-icon.link {
  background-position: 100% 0; }

.svg-link-dims, .c-icon.link {
  width: 40px;
  height: 40px; }

.c-link:hover, .c-link-underline, .o-mainFooter_copyright .c-link {
  text-decoration: underline; }

.o-target-list_item .c-link:hover {
  text-decoration: none; }

/*------------------------------------------------------------------------------------
  03_components
------------------------------------------------------------------------------------*/
.c-btn {
  transition: all 175ms ease-in-out;
  display: inline-flex;
  justify-content: center;
  border-radius: 25px;
  padding: 0.6875rem 1rem;
  font-size: 16px;
  font-family: "ProximaNova-Bold", sans-serif;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  -webkit-touch-callout: none;
  box-shadow: 0 6px 8px 2px rgba(205, 205, 205, 0.5); }
  .c-btn, .c-btn:focus {
    outline: 0;
    box-shadow: none; }
  @media print {
    .c-btn {
      display: none; } }
  @media only screen and (max-width: 599px) {
    .c-btn {
      width: 100%; } }
  .c-btn-primary {
    background-color: rgba(255, 255, 255, 0);
    color: #47B6A1;
    border-width: 1px;
    border-style: solid;
    border-color: #47B6A1; }
    .c-btn-primary:hover {
      background-color: #47B6A1;
      color: #ffffff;
      border-color: #47B6A1; }
  .c-btn-secondary {
    position: relative;
    background-color: #ED8D33;
    color: #ffffff;
    padding: .5rem 4rem .5rem 2rem;
    border-width: 0;
    border-style: solid;
    border-color: #47B6A1;
    text-transform: uppercase;
    background-image: url("../media/app/desktop-white.svg");
    background-position: 90% center;
    background-size: 25px; }
    .c-btn-secondary:hover {
      background-color: #da7313;
      color: #ffffff;
      border-color: #399181; }
    .c-btn-secondary:after {
      content: '';
      position: absolute;
      display: block;
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      border: 1px solid #ED8D33;
      border-radius: 25px; }
  .o-solutions-item .c-btn {
    position: relative;
    width: 100%; }
    @media only screen and (min-width: 1025px) {
      .o-solutions-item .c-btn {
        width: 75%; } }
  .o-contact .c-btn {
    width: 40%;
    border-color: #ffffff;
    color: #ffffff; }
    .o-contact .c-btn:hover {
      background-color: #ffffff;
      color: #2a6d60; }

button:hover {
  cursor: pointer; }

.form-group {
  position: relative;
  margin-bottom: 1rem;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  overflow: hidden; }
  .form-group:after {
    content: '*';
    position: absolute;
    top: 30px;
    right: 1.5rem;
    display: block;
    color: #2a6d60;
    line-height: 0; }

.form-control {
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  border-width: 0;
  border-style: solid;
  border-color: #CFD0D0;
  border-radius: 25px;
  color: #2a6d60;
  line-height: 1.4;
  font-size: 15px;
  font-family: "ProximaNova-Regular", sans-serif;
  background-color: #ffffff;
  background-image: none;
  background-clip: padding-box; }
  .form-control::placeholder {
    color: #2a6d60; }
  .form-control:hover, .form-control:focus {
    border-color: #a8aaaa; }
  .form-control:disabled {
    cursor: not-allowed; }

.form-label {
  display: block;
  margin-bottom: 0.25rem;
  color: #2a6d60;
  font-size: 0.9375rem;
  font-family: "ProximaNova-Semibold", sans-serif; }

.c-icon {
  display: inline-block;
  line-height: 0; }
  .c-icon.desktop {
    width: 40px;
    height: 40px; }
  .o-solutions-item .c-icon {
    margin-right: 10px; }
  .o-solutions-item .c-btn .c-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 20px;
    transform: translateY(-50%);
    fill: #47B6A1;
    transition: fill 175ms; }
  .o-solutions-item .c-btn:hover .c-icon svg path {
    fill: #ffffff; }
  .o-target-list_item .c-icon {
    margin-top: 10px;
    transform: translateY(0);
    transition: transform 175ms; }
  .o-target-list_item:not(.active) .c-link:hover .c-icon {
    transform: translateY(-2px); }
  .o-target-list_item.active .c-link .c-icon svg path:last-child {
    fill: #47B6A1; }

.c-img {
  display: block;
  width: 100%;
  height: 100%; }

.c-link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  /* 6.31/16 */ }
  .c-link.logo-header {
    height: 80px; }
  .o-mainNav_item .c-link {
    display: block;
    padding: 1.1875rem 0.75rem;
    color: #87898C;
    text-decoration: none;
    text-transform: uppercase; }
    @media only screen and (min-width: 1025px) {
      .o-mainNav_item .c-link {
        padding: 1.938rem 0.75rem;
        transition: color 200ms; }
        .o-mainNav_item .c-link:hover {
          color: #47B6A1; } }
  @media only screen and (max-width: 1024px) {
    .o-mainNav_list > .o-mainNav_item:not(:last-child) .c-link {
      border-bottom: 1px solid #E4E4E4; } }
  .o-target-list_item .c-link {
    font-size: 0.875rem;
    display: block;
    height: 100%;
    padding: 10px 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    opacity: .85;
    text-align: center;
    transform: scaleY(1); }
    .o-target-list_item .c-link:hover {
      opacity: 1; }
  .o-target-list_item.active .c-link {
    position: relative;
    opacity: 1;
    background-color: #ffffff;
    color: #47B6A1;
    transform: scaleY(1.1); }
    .o-target-list_item.active .c-link:after {
      content: '';
      position: absolute;
      top: 100%;
      right: -1px;
      left: -1px;
      height: 5px;
      border-radius: 25px;
      background-color: #8fd4c7; }
  .o-contact-list_item .c-link {
    color: #ffffff; }
  .o-share-list .c-link {
    width: 35px;
    height: 35px; }
    .o-share-list .c-link:not(:last-child) {
      margin-right: 10px; }
    .o-share-list .c-link.facebook {
      background-image: url("../media/app/facebook.svg"); }
    .o-share-list .c-link.linkedin {
      background-image: url("../media/app/linkedin.svg"); }
    .o-share-list .c-link.twitter {
      background-image: url("../media/app/twitter.svg"); }

.c-ttl {
  margin: 0; }
  .c-ttl-hero {
    font-size: 3rem; }
    .c-ttl-hero .sub {
      font-size: 2.0625rem;
      display: block; }
  .o-solutions-item .c-ttl {
    display: flex;
    align-items: center;
    justify-content: center; }
  .o-target_top .c-ttl {
    margin-bottom: 35px; }
  .o-partners .c-ttl {
    padding: 30px 0; }
  .o-contact .c-ttl {
    margin-bottom: 25px;
    color: #ffffff;
    font-weight: 300; }

/*------------------------------------------------------------------------------------
  04_objects
------------------------------------------------------------------------------------*/
.o-contact {
  position: relative;
  padding: 50px 0 100px;
  overflow: hidden; }
  .o-contact_overlay {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    filter: blur(5px); }
  .o-contact-list {
    padding-right: 50px;
    color: #ffffff; }
    .o-contact-list_item {
      font-size: 0.9375rem; }
      .o-contact-list_item:not(:last-child) {
        padding-bottom: 7px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        margin-bottom: 7px; }
      .o-contact-list_item .type {
        display: inline-block;
        width: 25%; }

.o-form {
  padding-right: 30px; }

.o-hero {
  position: relative;
  padding: 90px 0;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  .o-hero_overlay {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    filter: blur(5px); }
  .o-hero_content {
    display: flex;
    flex-direction: column;
    padding: 0 190px; }
  .o-hero_sub {
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 20px; }

.o-mainFooter {
  padding: 30px 0; }
  .o-mainFooter-list {
    display: flex; }
    .o-mainFooter-list_item:not(:last-child) {
      margin-right: 20px; }
  .o-mainFooter_copyright {
    font-size: 0.75rem; }

.o-mainHeader {
  background-color: #ffffff; }
  .o-mainHeader_content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .o-mainHeader-btn_wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px; }
  @media only screen and (max-width: 1024px) {
    .o-mainHeader_navTrigger {
      position: relative;
      width: 33px;
      height: 19px;
      padding: 2.1875rem 2.375rem; }
      .o-mainHeader_navTrigger span {
        top: 0;
        bottom: 0;
        max-width: 33px;
        margin: auto; }
        .o-mainHeader_navTrigger span, .o-mainHeader_navTrigger span:before, .o-mainHeader_navTrigger span:after {
          transition: all 175ms ease-in-out;
          position: absolute;
          right: 0;
          left: 0;
          height: 3px;
          border-radius: 3px;
          background-color: #47B6A1; }
        .o-mainHeader_navTrigger span:before, .o-mainHeader_navTrigger span:after {
          content: '';
          transform: translateY(0); }
        .o-mainHeader_navTrigger span:before {
          top: -.55em; }
        .o-mainHeader_navTrigger span:after {
          bottom: -.55em; }
      .o-mainHeader_navTrigger.active span {
        background-color: transparent; }
        .o-mainHeader_navTrigger.active span:before {
          transform: translateY(8px) rotate(45deg); }
        .o-mainHeader_navTrigger.active span:after {
          transform: translateY(-9px) rotate(-45deg); } }
  @media only screen and (min-width: 1025px) {
    .o-mainHeader_nav {
      display: flex;
      padding-right: 1.5625rem; } }

@media only screen and (max-width: 1024px) {
  .o-mainNav_list {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transform: translateY(-20%);
    pointer-events: none;
    transition: opacity 175ms, transform 200ms; }
    .o-mainNav_list.active {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all; }
  .o-mainNav_trigger-sub {
    top: 0;
    right: 0;
    width: 20%;
    height: 58px;
    transform: rotate(0);
    transition: transform 250ms; }
    .o-mainNav_trigger-sub.active {
      transform: rotate(180deg); } }

@media only screen and (min-width: 1025px) {
  .o-mainNav_list {
    display: flex; } }

.o-partners {
  padding-bottom: 50px;
  border-top: 1px solid lightgrey; }
  .o-partners-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .o-partners-list_item {
      flex: 0 0 13%;
      padding: 10px;
      border: 1px solid lightgrey;
      border-radius: 7px;
      background-color: #F6F6F6; }
  .o-partners-btn_wrapper {
    position: absolute;
    top: -38px;
    right: 0;
    padding: 15px;
    background-color: #ffffff; }

.o-share-list {
  display: flex;
  margin-top: 30px; }

.o-solutions {
  padding: 80px 0; }
  .o-solutions-item {
    text-align: center; }
    .o-solutions-item_about {
      font-size: 0.875rem;
      min-height: 63px;
      margin: 20px 0 25px;
      line-height: 21px; }

.o-target_top {
  padding: 50px 0;
  background-color: #47B6A1;
  color: #ffffff; }

.o-target_bottom {
  padding: 50px 0;
  background-color: #8fd4c7; }

.o-target-list {
  display: flex;
  justify-content: space-between; }
  .o-target-list_item {
    flex: 0 0 130px; }
    .o-target-list_item.active {
      position: relative; }
      .o-target-list_item.active:after {
        content: '';
        position: absolute;
        bottom: -52px;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid #8fd4c7;
        transform: translateX(-50%); }
    .o-target-list_item .target {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 34px; }

.o-target-content {
  display: flex;
  justify-content: space-between; }
  .o-target-content-about, .o-target-content-list {
    flex: 0 0 50%; }
  .o-target-content-about_info, .o-target-content-list {
    color: #2a6d60; }
  .o-target-content-list_item {
    padding-left: 35px;
    background-image: url("../media/app/check.svg");
    background-position: 0 center;
    background-size: 24px; }
    .o-target-content-list_item:not(:last-child) {
      margin-bottom: 1rem; }
  .o-target-content-about_info {
    padding-right: 50px;
    line-height: 24px; }

.o-testimonial {
  padding-top: 50px; }
  .o-testimonial_container {
    position: relative;
    padding: 35px 0 50px;
    border-top: 1px solid lightgrey;
    margin: 35px 0 50px; }
  .o-testimonial_wrapper {
    display: flex;
    overflow: hidden;
    white-space: nowrap; }
  .o-testimonial_item {
    flex: 0 0 100%;
    order: 1;
    padding-right: 80px;
    white-space: normal; }
    .o-testimonial_item.active {
      order: 0; }
  .o-testimonial-article {
    display: flex; }
    .o-testimonial-article_img {
      flex: 0 0 20%; }
    .o-testimonial-article_about {
      flex: 0 0 80%;
      margin-left: 30px;
      line-height: 24px; }
  .o-testimonial_btn-wrapper {
    position: absolute;
    top: -20px;
    right: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #ffffff; }
  .o-testimonial_btn {
    width: 35px;
    height: 30px;
    background-size: 30px;
    opacity: .6; }
    .o-testimonial_btn:hover {
      opacity: 1; }
    .o-testimonial_btn.next {
      background-image: url("../media/app/chevron-right.svg"); }
    .o-testimonial_btn.previous {
      background-image: url("../media/app/chevron-right.svg");
      transform: rotate(180deg); }
  .o-testimonial_pagination {
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    transform: translateX(-50%); }
    .o-testimonial_pagination .bullet {
      width: 10px;
      height: 10px;
      border: 1px solid lightgrey;
      border-radius: 50%;
      background-color: #ffffff; }
      .o-testimonial_pagination .bullet:not(:last-child) {
        margin-right: 8px; }
      .o-testimonial_pagination .bullet.active {
        background-color: lightgrey; }

/*------------------------------------------------------------------------------------
  05_trumps
------------------------------------------------------------------------------------*/
.color-white {
  color: #ffffff; }

.out {
  margin-right: -15px;
  margin-left: -15px; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.f-16 {
  font-size: 1rem; }

.f-20 {
  font-size: 1.25rem; }

.f-26 {
  font-size: 1.625rem; }

.color-prim {
  color: #47B6A1; }
