<!--Load Main HTML Layout-->
{% extends "src/html/app/template/base.html" %}

<!--Define Site Name-->
{% set siteName = 'AD Cumulus Landing Page' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'AD Cumulus Landing' %}
{% set pageTitleName = 'AD Cumulus Landing' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-homepage' %}

<!--Main Content-->
{% block content %}

{% include "src/html/app/components/header.html" %}

{% import "src/html/app/bits/form/input.html" as input %}
{% import "src/html/app/bits/form/textarea.html" as textarea %}
{% import "src/html/app/components/solutionItem.html" as solutionItem %}

<main>
  
  <div class="o-hero">
    <div class="o-hero_overlay" style="background-image: url('../media/app/featured-1.jpg');"></div>

    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="o-hero_content">
            <h2 class="c-ttl c-ttl-hero">Designed to drive<span class="sub">Your advertising business</span></h2>
            <div class="o-hero_sub">Our flexible and feature rich solutions combined with our continuous 
              innovation on field advertising makes them perfect for your advertising business.</div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="o-solutions">
    <div class="container">
      <div class="row">

        <div class="col-lg-4">
          {{
            solutionItem.func(
              title = "Ad Server",
              icon = "desktop",
              about = "Advanced ad delivery server with mobile and web support, RTB integration and accurate targeting"
            )
          }}
        </div>
        
        <div class="col-lg-4">
          {{
            solutionItem.func(
              title = "Affiliate Software",
              icon = "link",
              about = "Flexibile affiliate tracking software with smart conversion optimisation."
            )
          }}
        </div>
        
        <div class="col-lg-4">
          {{
            solutionItem.func(
              title = "Traffic Analyzer",
              icon = "desktop",
              about = "Unique tool traffic routing based on rule-sets and providing information about your visitors."
            )
          }}
        </div>

      </div>
    </div>
  </div>

  <div class="o-target">

    <div class="o-target_top">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <h2 class="c-ttl c-ttl-h2">Who is it for?</h2>
            
            <ul class="o-target-list">
              <li class="o-target-list_item">
                <a class="c-link" href="#adnetwork">
                  <span class="target">Ad network</span>
                  <i class="c-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path d="M10.82 12.49c.02-.16.04-.32.04-.49 0-.17-.02-.33-.04-.49l1.08-.82c.1-.07.12-.21.06-.32l-1.03-1.73c-.06-.11-.2-.15-.31-.11l-1.28.5c-.27-.2-.56-.36-.87-.49l-.2-1.33c0-.12-.11-.21-.24-.21H5.98c-.13 0-.24.09-.26.21l-.2 1.32c-.31.12-.6.3-.87.49l-1.28-.5c-.12-.05-.25 0-.31.11l-1.03 1.73c-.06.12-.03.25.07.33l1.08.82c-.02.16-.03.33-.03.49 0 .17.02.33.04.49l-1.09.83c-.1.07-.12.21-.06.32l1.03 1.73c.06.11.2.15.31.11l1.28-.5c.27.2.56.36.87.49l.2 1.32c.01.12.12.21.25.21h2.06c.13 0 .24-.09.25-.21l.2-1.32c.31-.12.6-.3.87-.49l1.28.5c.12.05.25 0 .31-.11l1.03-1.73c.06-.11.04-.24-.06-.32l-1.1-.83zM7 13.75c-.99 0-1.8-.78-1.8-1.75s.81-1.75 1.8-1.75 1.8.78 1.8 1.75S8 13.75 7 13.75zM18 1.01L8 1c-1.1 0-2 .9-2 2v3h2V5h10v14H8v-1H6v3c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V3c0-1.1-.9-1.99-2-1.99z" fill="#FFF" /></svg>
                  </i>
                </a>
              </li>

              <li class="o-target-list_item">
                <a class="c-link" href="#adnetwork">
                  <span class="target">Affiliate Network</span>
                  <i class="c-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path d="M10.82 12.49c.02-.16.04-.32.04-.49 0-.17-.02-.33-.04-.49l1.08-.82c.1-.07.12-.21.06-.32l-1.03-1.73c-.06-.11-.2-.15-.31-.11l-1.28.5c-.27-.2-.56-.36-.87-.49l-.2-1.33c0-.12-.11-.21-.24-.21H5.98c-.13 0-.24.09-.26.21l-.2 1.32c-.31.12-.6.3-.87.49l-1.28-.5c-.12-.05-.25 0-.31.11l-1.03 1.73c-.06.12-.03.25.07.33l1.08.82c-.02.16-.03.33-.03.49 0 .17.02.33.04.49l-1.09.83c-.1.07-.12.21-.06.32l1.03 1.73c.06.11.2.15.31.11l1.28-.5c.27.2.56.36.87.49l.2 1.32c.01.12.12.21.25.21h2.06c.13 0 .24-.09.25-.21l.2-1.32c.31-.12.6-.3.87-.49l1.28.5c.12.05.25 0 .31-.11l1.03-1.73c.06-.11.04-.24-.06-.32l-1.1-.83zM7 13.75c-.99 0-1.8-.78-1.8-1.75s.81-1.75 1.8-1.75 1.8.78 1.8 1.75S8 13.75 7 13.75zM18 1.01L8 1c-1.1 0-2 .9-2 2v3h2V5h10v14H8v-1H6v3c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V3c0-1.1-.9-1.99-2-1.99z" fill="#FFF" /></svg>
                  </i>
                </a>
              </li>

              <li class="o-target-list_item">
                <a class="c-link" href="#adnetwork">
                  <span class="target">Enterprise</span>
                  <i class="c-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path d="M10.82 12.49c.02-.16.04-.32.04-.49 0-.17-.02-.33-.04-.49l1.08-.82c.1-.07.12-.21.06-.32l-1.03-1.73c-.06-.11-.2-.15-.31-.11l-1.28.5c-.27-.2-.56-.36-.87-.49l-.2-1.33c0-.12-.11-.21-.24-.21H5.98c-.13 0-.24.09-.26.21l-.2 1.32c-.31.12-.6.3-.87.49l-1.28-.5c-.12-.05-.25 0-.31.11l-1.03 1.73c-.06.12-.03.25.07.33l1.08.82c-.02.16-.03.33-.03.49 0 .17.02.33.04.49l-1.09.83c-.1.07-.12.21-.06.32l1.03 1.73c.06.11.2.15.31.11l1.28-.5c.27.2.56.36.87.49l.2 1.32c.01.12.12.21.25.21h2.06c.13 0 .24-.09.25-.21l.2-1.32c.31-.12.6-.3.87-.49l1.28.5c.12.05.25 0 .31-.11l1.03-1.73c.06-.11.04-.24-.06-.32l-1.1-.83zM7 13.75c-.99 0-1.8-.78-1.8-1.75s.81-1.75 1.8-1.75 1.8.78 1.8 1.75S8 13.75 7 13.75zM18 1.01L8 1c-1.1 0-2 .9-2 2v3h2V5h10v14H8v-1H6v3c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V3c0-1.1-.9-1.99-2-1.99z" fill="#FFF" /></svg>
                  </i>
                </a>
              </li>

              <li class="o-target-list_item active">
                <a class="c-link" href="#adnetwork">
                  <span class="target">E-commerce</span>
                  <i class="c-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path d="M10.82 12.49c.02-.16.04-.32.04-.49 0-.17-.02-.33-.04-.49l1.08-.82c.1-.07.12-.21.06-.32l-1.03-1.73c-.06-.11-.2-.15-.31-.11l-1.28.5c-.27-.2-.56-.36-.87-.49l-.2-1.33c0-.12-.11-.21-.24-.21H5.98c-.13 0-.24.09-.26.21l-.2 1.32c-.31.12-.6.3-.87.49l-1.28-.5c-.12-.05-.25 0-.31.11l-1.03 1.73c-.06.12-.03.25.07.33l1.08.82c-.02.16-.03.33-.03.49 0 .17.02.33.04.49l-1.09.83c-.1.07-.12.21-.06.32l1.03 1.73c.06.11.2.15.31.11l1.28-.5c.27.2.56.36.87.49l.2 1.32c.01.12.12.21.25.21h2.06c.13 0 .24-.09.25-.21l.2-1.32c.31-.12.6-.3.87-.49l1.28.5c.12.05.25 0 .31-.11l1.03-1.73c.06-.11.04-.24-.06-.32l-1.1-.83zM7 13.75c-.99 0-1.8-.78-1.8-1.75s.81-1.75 1.8-1.75 1.8.78 1.8 1.75S8 13.75 7 13.75zM18 1.01L8 1c-1.1 0-2 .9-2 2v3h2V5h10v14H8v-1H6v3c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V3c0-1.1-.9-1.99-2-1.99z" fill="#FFF" /></svg>
                  </i>
                </a>
              </li>

              <li class="o-target-list_item">
                <a class="c-link" href="#adnetwork">
                  <span class="target">Startups</span>
                  <i class="c-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path d="M10.82 12.49c.02-.16.04-.32.04-.49 0-.17-.02-.33-.04-.49l1.08-.82c.1-.07.12-.21.06-.32l-1.03-1.73c-.06-.11-.2-.15-.31-.11l-1.28.5c-.27-.2-.56-.36-.87-.49l-.2-1.33c0-.12-.11-.21-.24-.21H5.98c-.13 0-.24.09-.26.21l-.2 1.32c-.31.12-.6.3-.87.49l-1.28-.5c-.12-.05-.25 0-.31.11l-1.03 1.73c-.06.12-.03.25.07.33l1.08.82c-.02.16-.03.33-.03.49 0 .17.02.33.04.49l-1.09.83c-.1.07-.12.21-.06.32l1.03 1.73c.06.11.2.15.31.11l1.28-.5c.27.2.56.36.87.49l.2 1.32c.01.12.12.21.25.21h2.06c.13 0 .24-.09.25-.21l.2-1.32c.31-.12.6-.3.87-.49l1.28.5c.12.05.25 0 .31-.11l1.03-1.73c.06-.11.04-.24-.06-.32l-1.1-.83zM7 13.75c-.99 0-1.8-.78-1.8-1.75s.81-1.75 1.8-1.75 1.8.78 1.8 1.75S8 13.75 7 13.75zM18 1.01L8 1c-1.1 0-2 .9-2 2v3h2V5h10v14H8v-1H6v3c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V3c0-1.1-.9-1.99-2-1.99z" fill="#FFF" /></svg>
                  </i>
                </a>
              </li>

              <li class="o-target-list_item">
                <a class="c-link" href="#adnetwork">
                  <span class="target">Media buyer</span>
                  <i class="c-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path d="M10.82 12.49c.02-.16.04-.32.04-.49 0-.17-.02-.33-.04-.49l1.08-.82c.1-.07.12-.21.06-.32l-1.03-1.73c-.06-.11-.2-.15-.31-.11l-1.28.5c-.27-.2-.56-.36-.87-.49l-.2-1.33c0-.12-.11-.21-.24-.21H5.98c-.13 0-.24.09-.26.21l-.2 1.32c-.31.12-.6.3-.87.49l-1.28-.5c-.12-.05-.25 0-.31.11l-1.03 1.73c-.06.12-.03.25.07.33l1.08.82c-.02.16-.03.33-.03.49 0 .17.02.33.04.49l-1.09.83c-.1.07-.12.21-.06.32l1.03 1.73c.06.11.2.15.31.11l1.28-.5c.27.2.56.36.87.49l.2 1.32c.01.12.12.21.25.21h2.06c.13 0 .24-.09.25-.21l.2-1.32c.31-.12.6-.3.87-.49l1.28.5c.12.05.25 0 .31-.11l1.03-1.73c.06-.11.04-.24-.06-.32l-1.1-.83zM7 13.75c-.99 0-1.8-.78-1.8-1.75s.81-1.75 1.8-1.75 1.8.78 1.8 1.75S8 13.75 7 13.75zM18 1.01L8 1c-1.1 0-2 .9-2 2v3h2V5h10v14H8v-1H6v3c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V3c0-1.1-.9-1.99-2-1.99z" fill="#FFF" /></svg>
                  </i>
                </a>
              </li>

              <li class="o-target-list_item">
                <a class="c-link" href="#adnetwork">
                  <span class="target">Affiliates</span>
                  <i class="c-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path d="M10.82 12.49c.02-.16.04-.32.04-.49 0-.17-.02-.33-.04-.49l1.08-.82c.1-.07.12-.21.06-.32l-1.03-1.73c-.06-.11-.2-.15-.31-.11l-1.28.5c-.27-.2-.56-.36-.87-.49l-.2-1.33c0-.12-.11-.21-.24-.21H5.98c-.13 0-.24.09-.26.21l-.2 1.32c-.31.12-.6.3-.87.49l-1.28-.5c-.12-.05-.25 0-.31.11l-1.03 1.73c-.06.12-.03.25.07.33l1.08.82c-.02.16-.03.33-.03.49 0 .17.02.33.04.49l-1.09.83c-.1.07-.12.21-.06.32l1.03 1.73c.06.11.2.15.31.11l1.28-.5c.27.2.56.36.87.49l.2 1.32c.01.12.12.21.25.21h2.06c.13 0 .24-.09.25-.21l.2-1.32c.31-.12.6-.3.87-.49l1.28.5c.12.05.25 0 .31-.11l1.03-1.73c.06-.11.04-.24-.06-.32l-1.1-.83zM7 13.75c-.99 0-1.8-.78-1.8-1.75s.81-1.75 1.8-1.75 1.8.78 1.8 1.75S8 13.75 7 13.75zM18 1.01L8 1c-1.1 0-2 .9-2 2v3h2V5h10v14H8v-1H6v3c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V3c0-1.1-.9-1.99-2-1.99z" fill="#FFF" /></svg>
                  </i>
                </a>
              </li>
            </ul>
          
          </div>
        </div>
      </div>
    </div>

    <div class="o-target_bottom">
      <div class="container">
        <div class="row">
          <div class="col-12">
        
            <div class="o-target-content">
              <div class="o-target-content-about">
                <h2 class="c-ttl c-ttl-h2">Advertising Network</h2>
                <p class="o-target-content-about_info">Support for desktop web, mobile web, Android apps and iOS apps 
                  targeting based on device, geo-location, mobile operator, etc. Interactive banner formatsRTB 
                  integration with other ad networks, separate web-based interfaces for publishers and advertisers 
                  flexible reporting.</p>
              </div>

              <ul class="o-target-content-list">
                <li class="o-target-content-list_item">Support for desktop & mobile web, Android & iOS apps</li>
                <li class="o-target-content-list_item">Targeting based on device, geo-location, mobile operator, 
                    etc</li>
                <li class="o-target-content-list_item">Interactive banner formats</li>
                <li class="o-target-content-list_item">RTB integration with other ad networks</li>
                <li class="o-target-content-list_item">Separate web-based interfaces for publishers and advertisers</li>
                <li class="o-target-content-list_item">Flexible reporting</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="o-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <h2 class="c-ttl c-ttl-h2">They love to work with us</h2>

          <div class="o-testimonial_container">
            <div class="o-testimonial_wrapper">

              <div class="o-testimonial_item active">
                <article class="o-testimonial-article">
                  <div class="o-testimonial-article_img">
                    <img class="c-img" src="https://via.placeholder.com/200x200/ED8D33/FFFFFF" alt="testimonial">
                  </div>
                  <div class="o-testimonial-article_about">
                    <h3 class="c-ttl c-ttl-h3">Testimonial 1 - Click Attack</h3>
                    <p>Ricotta brie halloumi. Cheesy feet halloumi airedale cheese on toast swiss cheese triangles 
                      monterey jack fromage. Queso say cheese cheesecake cheeseburger when the cheese comes out 
                      everybody's happy smelly cheese caerphilly st. agur blue cheese. Cheesecake croque monsieur.</p>
                  </div>
                </article>
              </div>

              <div class="o-testimonial_item">
                <article class="o-testimonial-article">
                  <div class="o-testimonial-article_img">
                    <img class="c-img" src="https://via.placeholder.com/200x200/ED8D33/FFFFFF" alt="testimonial">
                  </div>
                  <div class="o-testimonial-article_about">
                    <h3 class="c-ttl c-ttl-h3">Testimonial 2 - Click Attack 2</h3>
                    <p>bla bla bla bla bla bla 2</p>
                  </div>
                </article>
              </div>

            </div>

            <div class="o-testimonial_btn-wrapper">
              <div class="o-testimonial_btn previous"></div>
              <div class="o-testimonial_btn next"></div>
            </div>
            <div class="o-testimonial_pagination">
              <div class="bullet active"></div>
              <div class="bullet"></div>
              <div class="bullet"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="o-partners">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="o-partners-btn_wrapper">
            <a class="c-btn c-btn-secondary" href="#schedule-demo">Schedule demo</a>
          </div>

          <h2 class="c-ttl c-ttl-h2">Our partners trust us</h2>

          <ul class="o-partners-list">
            <li class="o-partners-list_item">
              <img class="c-img" src="https://via.placeholder.com/200x200/ED8D33/FFFFFF" alt="Partner">
            </li>

            <li class="o-partners-list_item">
              <img class="c-img" src="https://via.placeholder.com/200x200/ED8D33/FFFFFF" alt="Partner">
            </li>

            <li class="o-partners-list_item">
              <img class="c-img" src="https://via.placeholder.com/200x200/ED8D33/FFFFFF" alt="Partner">
            </li>

            <li class="o-partners-list_item">
              <img class="c-img" src="https://via.placeholder.com/200x200/ED8D33/FFFFFF" alt="Partner">
            </li>

            <li class="o-partners-list_item">
              <img class="c-img" src="https://via.placeholder.com/200x200/ED8D33/FFFFFF" alt="Partner">
            </li>

            <li class="o-partners-list_item">
              <img class="c-img" src="https://via.placeholder.com/200x200/ED8D33/FFFFFF" alt="Partner">
            </li>

            <li class="o-partners-list_item">
              <img class="c-img" src="https://via.placeholder.com/200x200/ED8D33/FFFFFF" alt="Partner">
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <div class="o-contact">
    <div class="o-contact_overlay" style="background-image: url('../media/app/featured-2.jpg');"></div>
    <div class="container">
      <div class="row">

        <div class="col-lg-6">
          <h2 class="c-ttl c-ttl-h2">Ask a question</h2>

          <form action="#form">
            <div class="o-form">
              {{
                input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "sr-only",
                  lb_txt = "First name",
                  fe_id = "firstName",
                  fe_class = "form-control",
                  fe_name = "firstName",
                  fe_type = "text",
                  fe_placeholder = "Your Name and Surname"
                )
              }}

              {{
                input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "sr-only",
                  lb_txt = "Email",
                  fe_id = "email",
                  fe_class = "form-control",
                  fe_name = "email",
                  fe_type = "email",
                  fe_placeholder = "Your E-mail address"
                )
              }}

              {{
                textarea.textareaFunction(
                  fg_class = "form-group textarea",
                  lb_class = "sr-only",
                  lb_txt = "Type your Message",
                  fe_id = "message",
                  fe_class = "form-control",
                  fe_name = "message",
                  fe_placeholder = "Type Your Message",
                  fe_rows = 5
                )
              }}

              <button class="c-btn c-btn-primary c-btn-white">Send</button>
            </div>
          </form>
        </div>

        <div class="col-lg-6">
          <h2 class="c-ttl c-ttl-h2">Contact Us</h2>

          <ul class="o-contact-list">
            <li class="o-contact-list_item"><span class="type">Company:</span> MAS Company Service ltd.</li>
            <li class="o-contact-list_item"><span class="type">Address:</span> Zagreb, Uliac Ilica 230B</li>
            <li class="o-contact-list_item"><span class="type"></span> 1000 Zagreb / Croatia / Europe</li>
            <li class="o-contact-list_item"><span class="type">Phone:</span> 
                <a class="c-link" href="+38501300400">+385 01 300 400</a></li>
            <li class="o-contact-list_item"><span class="type">Fax:</span> +385 01 300 400</li>
            <li class="o-contact-list_item"><span class="type">E-mail:</span> 
                <a class="c-link" href="mailto:info@mas.nth.ch">info@mas.nth.ch</a></li>
            <li class="o-contact-list_item"><span class="type">Web:</span>
                <a class="c-link" href="mas.nth.ch" target="_blank">mas.nth.ch</a></li>
          </ul>

          <div class="o-share-list">
            <a class="c-link facebook" href="#face"></a>
            <a class="c-link linkedin" href="#in"></a>
            <a class="c-link twitter" href="#twitter"></a>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>

{% include "src/html/app/components/footer.html" %}
{% endblock %}
