.o-hero {
  position: relative;
  padding: 125px 0;
  color: $white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba($black, .3);
  overflow: hidden;

  &_overlay {
    @extend %no-repeat;
    @extend %bg-cover;
    @extend %bg-center;
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    filter: blur(10px);
  }

  &_content {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
  }

  &_sub {
    @include font-size(22);
    padding-top: 25px;
    border-top: 1px solid rgba($white, .5);
    margin-top: 25px;
  }

}
