// Font Size
$font-size: 24px;



// Line height
$line-height-default: 1.2;



// Letter spacing
$letter-spacing-default: normal;
$letter-spacing-lg: 0.02rem;



// $body-dont-family
$body-font-family: Georgia, 'Times New Roman', Times, serif;
